.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 100vh;
}

#error-parrafo{
    margin-top: 50px;
    font-size: medium;
}